{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
        <div class="sign-in-box">
            <br>
            <h1 class="h3 mb-3 font-weight-normal" style="text-align:center">Choose a sign in service</h1>
            <div class="social-login">
                <a class="nav-link btn facebook-btn social-btn"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span></a>
            </div>
            <div class="social-login">
                <a class="nav-link btn google-btn social-btn"><span><i class="fab fa-google"></i> Sign in with Google</span></a>
            </div>
            <br>
        </div>
    </div>
    <div class="col-xl-4"></div>
</div>
{% endblock content %}