{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}

<table>
    {% for rec in recs %}
       <tr>
            <th> {{ rec[0] }} </th>
            <td> {{ rec[1] }} </td>
            <td> {{ rec[2] }} </td>
       </tr>
    {% endfor %}
</table>



<div class="row mt-5">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for courses">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-1"></div>
</div>
{% endblock content %}